@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
  color: #27374d;
}

body {
  font-weight: 400;
  font-size: 12px;
  position: relative;
  line-height: 1.5;
}

h1 {
  letter-spacing: 5px;
  margin-bottom: 10px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 3px;
}

h2 {
  border-bottom: 3px solid black;
  font-size: 18px;
}

h3 {
  font-size: 14px;
  /* font-weight: 600; */
}

.grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: black;
  margin-right: 2px;
  border-radius: 50%;
  display: inline-block;
}

.first {
  margin-top: 10px;
}

.between {
  margin-bottom: 5px;
}

.last {
  margin-bottom: 25px !important;
}

.list-item {
  margin-bottom: 15px;
}

.grid .left {
  padding: 220px 40px;
  background: #ecf9ff;
}

.grid .right {
  padding: 220px 100px 0 30px;
}

.summary {
  width: 95ch;
}

.box {
  margin-bottom: 15px;
}

.link {
  display: block;
  width: fit-content;
  border-bottom: 1px solid #27374d;
}

.email {
  border-bottom: 1px solid #27374d;
}

.header {
  border: 2px solid #27374d;
  padding: 40px 70px;
  position: absolute;
  top: 40px;
  left: 185px;
  width: fit-content;
  text-align: center;
  background: #fff;
}

.header p {
  font-size: 16px;
}

.degree-online {
  margin-top: 30px;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.degree {
  width: 200px;
  display: block;
}

.remove-letter-space {
  letter-spacing: 0;
}

@media screen and (max-width: 600px) {
  .header {
  padding: 30px 50px;
  position: absolute;
  top: 40px;
  left: 170px;
  width: max-content;
  }

  h1 {
    font-size: 1rem;
  }
}